# Database Configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/money_tracker
spring.datasource.username=your_username
spring.datasource.password=your_password
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA/Hibernate
# Controls database schema generation
# validate: checks if the schema matches the database
# update: updates the schema to match the entity classes
# create: creates the schema
# create-drop: creates the schema and drops it after the session is closed
# none: no schema generation
spring.jpa.hibernate.ddl-auto=validate

# Shows SQL queries in logs if true
# Useful for debugging and development
# Consider disabling in production
spring.jpa.show-sql=true

# Formats SQL queries in logs if true
# Useful for debugging and development
# Consider disabling in production
spring.jpa.properties.hibernate.format_sql=true

# Logging
logging.level.root=WARN
logging.level.lt.ehu.student.moneytracker=DEBUG
logging.level.org.springframework.web=INFO
logging.level.org.hibernate.SQL=DEBUG
logging.pattern.console=%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n

# Server
server.port=8080
server.servlet.context-path=/moneytracker
