<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="DATE">${date:yyyy-MM-dd}</Property>
        <Property name="BASE_PATH">${sys:catalina.home}/webapps/MoneyTrackerBeta</Property>
        <Property name="LOG_MSG_PATTERN">%d{YYYY-mm-dd HH:MM:ss} [%-25t] [%-5level] %c{26} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_MSG_PATTERN}"/>
        </Console>
        <File name="File"
              fileName="${BASE_PATH}/logs/${DATE}-moneyTracker.log"
              createOnDemand="true"
              append="true">
            <PatternLayout pattern="${LOG_MSG_PATTERN}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
